@font-face {
    font-family: Salsa;
    src: url(Salsa-Regular.ttf);
}
@media only screen and (min-width: 768px){
    body {
        background-color: white;
    }  
}
@media only screen and (max-width:768px){
body {
    background-color: #dbd9d9
}
}
.logo { 
    background: left / cover url('./IMG_9678.JPG');
    display: flex;
    height: 400px;
    align-items: end;
    justify-content: center;
    font:
        bold 100px 'Georgia';
    color: #f8f5f7;
}
.logo2 {
    background: left / cover url(./mountains\ footer.JPG);
    display: flex;
    height: 300px;
    align-items: left;
    justify-content: left;
    font: 
        Bold 20px 'Georgia';
        color: #050505
}
.fit-picture {
    width: 225px;
    height:300px;
    float: right;
    border-radius: 8px;
}
table {
    font-family:Georgia;
    border-collapse: collapse;
    width: 100%
}
td, th{
    border: 1px solid #050505dd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #EAC5FD;
}
.headings1 {
    background-color: #EAC5FD;
    color:#ac22f7;
    font-size: 50px;
    font-family: Salsa;
}
.headings2 {
    color: #5B028A; 
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 1.8;
}
.lists{
    list-style-position: inside;
    text-align: left;
    display:inline-block;
}
/* Added missed Navigation bar*/
body Nav ul li a{
    color: #fff;
    border:#050505;
    padding: 10px;
    display: inline-flex;
    list-style-type: none;
}
body Nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
body Nav {
    background-color: #5B028A;
}
.easteregg{
    height: 100px;
    width: 150px;
}
section {
    display: block;
}
.aboutme {
    border: 2px solid #400261;
    border-radius: 12px;
    padding: 5px;
}
/* code used for Movies and TV Section */
.movies,.tv {
    border: 2px solid #400261;
    border-radius: 12px;
    padding: 5px;
    min-width: 500px;
}
.movies a, .tv a{
    color: #02C1AD;
}
.hobbies {
    border: 2px solid #400261;
    border-radius: 12px;
    padding: 5px;
}
.column {
    flex: 50%;
    padding: 5px;
    padding-bottom: 200px;
    height: 300px; 
  }
.row {
    display:flex;
  }
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity:  0;}
    to{opacity: 1;}
}

@keyframes fadeIn {
    from {opacity:  0;}
    to{opacity: 1;}
}
